@import "partials/fonts";
@import "partials/general/_vars";
@import "partials/general/nullstyle";
@import "partials/sliders";
@import "partials/tabs";
@import "partials/product";
@import "partials/rating";
@import "partials/characteristics";
@import "partials/comments";
@import "partials/goods";
@import "partials/subscribe";
@import "partials/footer";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;

  font-family: "Roboto", sans-serif;
  @include adaptive-value(font-size, 16, 12);
  line-height: 19px;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  @include adaptive-value(padding-left, 40, 8);
  @include adaptive-value(padding-right, 40, 8);
  background: #fff;
}

.main {
  @include adaptive-value(padding, 30, 15);
  background: linear-gradient(180deg, $secondary-green 0%, #ffffff 720px);
}

.votes-count {
  color: $primary-green;
}

.currency {
  font-weight: 400;
}

.button-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  @include adaptive-value(width, 40, 30);
  @include adaptive-value(height, 40, 30);
  background: $secondary-green;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  &:hover {
    background: #fff;
    border-color: $secondary-green;

    .arrow-up {
      border-color: $secondary-green;
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: 769px) {
    bottom: 10px;
    right: 10px;
  }

  &.lock {
    opacity: 0;
    visibility: hidden;
  }

  .arrow-up {
    border-width: 0 2px 2px 0;
    padding: 3px;
    border-color: #fff;
    position: static;
    transform: translate(-50%, -50%);
    margin-top: 5px;
  }
}

.arrow {
  position: absolute;
  top: 37%;
  right: -5px;
  border: solid #000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transition: 0.3s;

  &.arrow-down {
    transform: rotate(45deg);
  }

  &.arrow-up {
    transform: rotate(-135deg);
  }
}

.block-title {
  @include adaptive-value(font-size, 30, 16);
  @include adaptive-value(line-height, 36, 22);
  color: $primary-blue;

  span {
    color: $secondary-green;
  }

  &_medium {
    font-weight: 500;
  }
}

.logo {
  @include adaptive-value(width, 117, 70);
  @include adaptive-value(height, 45, 35);
  object-fit: cover;
  @include adaptive-value(margin-bottom, 35, 20);
}

.social {
  &__list {
    display: flex;
    align-items: center;
    @include adaptive-value(margin-bottom, 44, 20);
  }

  &__item {
    &:not(:last-child) {
      @include adaptive-value(margin-right, 25, 10);
    }
  }

  &__link {
    display: block;

    svg {
      width: 22px;
      height: 22px;
      object-fit: cover;
      color: rgba($secondary-grey, 0.5);
      transition: 0.3s;
    }

    &:hover {
      svg {
        color: $secondary-grey;
      }
    }
  }
}

.payments {
  display: flex;
  align-items: center;

  @media (max-width: 950px) {
    display: block;
  }

  @media (max-width: 851px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nova-poshta {
    @include adaptive-value(margin-right, 57, 25);

    @media (max-width: 950px) {
      margin-bottom: 10px;
    }

    @media (max-width: 851px) {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    margin: 0 3px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptive-value(width, 53, 40);
    @include adaptive-value(height, 31, 25);
    background: #fff;
    border-radius: 3px;
    opacity: 0.5;
    transition: opacity 0.3s;

    svg {
      @include adaptive-value(width, 40, 30);
      @include adaptive-value(height, 30, 25);
      object-fit: cover;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.nova-poshta {
  display: block;

  svg {
    @include adaptive-value(width, 83, 60);
    @include adaptive-value(height, 30, 20);
    object-fit: cover;
  }
}
